<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="Rope_joint_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Joint_M_Revolute-33">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_M_Revolute-33']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cONNECTOR_Revolute-34">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cONNECTOR_Revolute-34']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_M3_Revolute-45">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_M3_Revolute-45']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cONNECTOR1_Revolute-46">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cONNECTOR1_Revolute-46']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_M5_Revolute-58">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_M5_Revolute-58']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cONNECTOR2_Revolute-59">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cONNECTOR2_Revolute-59']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_M7_Revolute-66">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_M7_Revolute-66']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="cONNECTOR3_Revolute-67">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['cONNECTOR3_Revolute-67']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
