<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="FPGA_bot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import FPGA_bot urdf file -->
    <xacro:include filename="$(find fpga_bot_fpga_bot_description)/urdf/FPGA_bot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="FPGA_bot.ros2_control.xacro" />


    <xacro:FPGA_bot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
