<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="URDF_assembly">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import URDF_assembly urdf file -->
    <xacro:include filename="$(find moveit_bot_bias_bot_description)/urdf/BIAS_bot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="URDF_assembly.ros2_control.xacro" />


    <xacro:URDF_assembly_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
